{% extends "base.html" %}
{% block title %}Recipe Collection{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h1>Hello World!</h1>
			<p>This is an example of how to iterate stuff in templates</p>

			<pre>{{ resource_collection }}</pre>

			{% for key, resource_list in resource_collection %}
			<h2>{{key}}</h2>
			<table class="table">
				<tr>
					<th>Name</th>
				</tr>
				{% for resource in resource_list %}
				<tr>
					<td>A name should be here that links to resource items.</td>
				</tr>
				{% endfor %}
			</table>
			{% endfor %}

		</div>
	</div>
{% endblock %}
