{% extends "head_foot.html" %}
{% block title %}Recipe Collection{% endblock %}
{% block content %}
          <div class="container">
                <table class="table">
                      <h1>Recipes</h1>
                    <thead>
                        <tr>
                            <th>Recipe</th>
                                  <th>Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for recipe in recipes %}
                        <tr>

                            <td><a href={%url 'recipe' recipe_id=recipe.id%}>{{recipe.name}}</a></td>
                            <td>{{recipe.rating}}</td>

                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
          </div>
{% endblock %}