{% extends "head_foot.html" %}
{% block title %}Recipe Collection{% endblock %}
{% block content %}
        <div class="container">
            <h1>Recipe:</h1>
            <h2>{{recipe.name}}</h2>
          	<br/>
          	<h3>Ingredients</h3>
	            <table class="table">
	            	<thead>
	            		<tr>
	            			<th>Ingredient</th>
	                        <th>Amount</th>
	            		</tr>
	            	</thead>
	            	<tbody>
	            		{% for ingredient in ingredients %}
	            		<tr>
	            			<td><a href={%url 'ingredient' ingredient_id=ingredient.id%}>{{ingredient.name}}</a></td>
                            <td>{{ingredient.value_of_measure}} {{ingredient.unit_of_measure}}</td>
	            		</tr>
	            		{% endfor %}
	            	</tbody>
                </table>

            <br/>

            <h3>Rating</h3>
            <p>{{recipe.rating}}</p>

            <br/>

            <h3>Directions</h3>
            <ul>
                {% for direction in directions %}
                <li>{{direction.description}}</li>

                {% endfor %}
            </ul>

            <br/>

            <h3>Categories</h3>

            <table class="table">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>

                        <td><a href={%url 'category' category_id=category.id%}>{{category.name}}</a></td>
                        <td>{{category.description}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
{% endblock %}